langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
pydantic
python-dotenv
chromadb
duckduckgo-search
streamlit
unstructured
pypdf
ragas
huggingface-hub
langgraph-checkpoint-sqlite

dotenv
ddgs
langgraph-checkpoint-sqlite